.started {
    width: 100%;
    background-color: #4BA87D;
    height: 366px;
    margin-top: 146px;
    @media (min-width: 680px) and (max-width: 1096px) {
        max-height: 240px;
        margin-top: 95px;
    }
    @media (max-width: 679px) {
        max-height: 290px;
        margin-top: 58px;
    }
}

.started-wrap {
    display: flex;
    max-width: 1089px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    h2 {
        margin: 0;
        margin-top: 85px;
        font-family: 'Playfair Display';
        font-weight: 900;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        color: white;
        @media (min-width: 680px) and (max-width: 1096px) {
            font-size: 42px;
            line-height: 56px;
            margin-top: 45px;
        }
        @media (max-width: 679px) {
            font-size: 42px;
            line-height: 48px;
            margin-top: 43px;
        }
    }
}

.btn-pick {
    width: 200px;
    height: 65px;    
    border: none;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 21px;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    color: #4BA87D;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #4BA87D;
    margin-top: 66px;
    &:hover {
        outline: 3px solid white;
        background-color: #4BA87D;   
        color: white;    
        transition: color 1s, background-color 1s ease-out;
      } 
    @media (min-width: 680px) and (max-width: 1096px) {
        width: 132px;
        height: 42px;
        font-size: 13px;
        letter-spacing: 0.65px;
        margin-top: 20px;
    }
    @media (max-width: 679px) {
        width: 131px;
        height: 42px;
        font-size: 13px;
        letter-spacing: 0.65px;
        margin-top: 25px;
    }

}