a {
  text-decoration: none;
  color: black;
}

.header {
  max-height: 100px;
}

.container {
  max-width: 1366px;
  padding: 0 60px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  @media (min-width: 680px) and (max-width: 1096px) {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 16px;
  }
  @media (max-width: 679px) {    
    padding: 0;        
    max-width: 320px;
    margin: 0 auto;     
    margin-top: 10px;   
  }  
  
}

.logo {
  width: 270px;
  height: 64px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
  }
  @media (min-width: 680px) and (max-width: 1096px) {
    width: 173px;
    height: 52px;
  }
  @media (max-width: 679px) {
    width: 155px;
    flex-shrink: 1;        
  }
}

.logo-link {
  width: 100%;
  display: flex;
}


.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  
}

.menu-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  @media (min-width: 680px) and (max-width: 1096px) {
    margin: 0;
  }  
    
  @media (max-width: 679px) {
    display: none;    
  }
}

.menu-item {
  list-style: none;
  margin-left: 38px;
  @media (min-width: 680px) and (max-width: 1096px) {
    margin-left: 15px;
  }   
  
}

.menu-link {
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  letter-spacing: 1.27px;
  font-size: 17px;
  &::before {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 0;
    background-color:  #4BA87D;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    left: 50%;
    bottom: -6px;
  }

  &:hover::before {
    width: 50%;
    left: 0;   
  }  

  &::after {
    content: "";     
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #4BA87D;
    transition: width 0.5s ease-in-out;
    left: 50%;
    bottom: -6px;
  }
  &:hover::after{
    width: 50%;
  }
  @media (min-width: 680px) and (max-width: 1096px) {
    font-size: 11px;
    letter-spacing: 0.82px;
  }     
  
}

.menu-button {  
  width: 168px;
  height: 41px;
  background: #4BA87D;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 17px;
  letter-spacing: 1.27px;
  &:hover {
    outline: 2px solid #4BA87D;
    background-color: white;   
    color: #4BA87D;    
    transition: color 1s, outline-color 1s ease-out, background-color 1s ease-out;
  }
  @media (min-width: 680px) and (max-width: 1096px) {
    width: 110px;
    height: 25px;
    font-size: 11px;
    letter-spacing: 0.82px;
    margin-left: 16px;    
  }
  @media (max-width: 679px) {
    margin-left: 10px;
    width: 110px;
    height: 25px;
    font-size: 11px;    
  }
  
}
