.hero-container {
    max-width: 1088px;    
    margin: 0 auto;
    margin-top: 100px;    
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: right;
    padding-right: 10px;
    @media (min-width: 680px) and (max-width: 1096px) {
        max-width: 711px;
        margin: 0 auto;
        margin-top: 67px;      
    }
    @media (max-width: 679px) {
        max-width: 420px;
        margin: 0 auto;
        margin-top: 8px;                
    }   
}

.hero-preview {
    display: flex;    
    max-width: 680px;
    justify-content: right;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    img {
        width: 100%;
        height: 100%;
    }
    @media (min-width: 680px) and (max-width: 1096px) {
        
        max-width: 445px;      
    }
    @media (max-width: 679px) {
        margin-top: 51px;
        margin-bottom: 105px;        
        max-width: 300px;                  
    } 

}

.hero-description {
    max-width: 489px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10px;
    @media (min-width: 680px) and (max-width: 1096px) {
        max-width: 315px;
    }
    @media (max-width: 679px) {
        max-width: 301px;
        width: 100%; 
        padding: 0;
        margin-left: 10px;               
    } 
    h2 {
        font-size: 59px;
        font-family: 'Playfair Display';
        font-weight: 900;
        margin: 23px 0;
        @media (min-width: 680px) and (max-width: 1096px) {
            font-size: 38px;
            display: flex;
            margin: 0;
            margin-top: 14px;            
               
        }
        @media (max-width: 679px) {
            font-size: 36px;
            display: flex;            
            margin: 0;              
        }
    }
    p {
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 19px;
        padding-right: 43px;
        margin: 0;
        @media (min-width: 680px) and (max-width: 1096px) {
            font-size: 12px;
            margin-top: 17px;            
               
        }
        @media (max-width: 679px) {
            font-size: 14px;
            margin-top: 70px;
            padding: 0;              
        }
    }  

}

.button-set {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: space-between;
    padding-right: 43px;
    @media (min-width: 680px) and (max-width: 1096px) {
        
        margin-top: 25px;            
           
    }
    @media (max-width: 679px) {
        margin-top: 16px;
        padding: 0;              
    }
}




.herobtn-link {
    width: 200px;
    height: 65px;    
    border: none;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 21px;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #4BA87D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid #4BA87D;
    &:hover {
        background-color: white;   
        color: #4BA87D;    
        transition: color 1s, background-color 1s ease-out;
    }
    @media (min-width: 680px) and (max-width: 1096px) {
        width: 131px;
        height: 42px;
        font-size: 13px;
        letter-spacing: 0.65px;
        &:nth-child(n+2) {
            margin-left: 30px;
        }
           
    }
    @media (max-width: 679px) {
        width: 143px;
        height: 40px;
        font-size: 13px;
        &:nth-child(n+2) {
            margin-left: 14px;
        }
          
    }

}

.getdemo {
    background-color: white;
    color: #4BA87D;
    &:hover {
        background-color: #4BA87D;   
        color: white;    
        transition: color 1s, background-color 1s ease-out;
      } 
}



